@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] p{
	margin: 25% auto;
	text-align: center;
	text-indent: 0;
}

blockquote[epub|type~="z3998:letter"] p{
	text-indent: 0;
}

blockquote[epub|type~="z3998:letter"] p[epub|type~="z3998:valediction"]{
	margin-top: 1em;
}

#chapter-7 blockquote{
	text-align: center;
	font-variant: small-caps;
}

figure{
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-height: 20em;
	max-width: 100%;
}

figure + p{
	text-indent: 0;
}

blockquote[epub|type~="z3998:letter"] header p.location{
	font-variant: small-caps;
}

blockquote[epub|type~="z3998:letter"] header p[epub|type~="se:letter.dateline"]{
	font-style: italic;
}
